html, body{
height: 100%;
}
.topPadding{
	padding-top: 5%;
}
#LogoImage{
	width:25%;
}
#roundedButton{
border-radius:10px;	
cursor: pointer;
}
.header-container{
	margin-top:1%;
}
.header{
position: fixed;
height: 8%;
width:100%;
z-index:1;
top:0%;
right:0%;
left:0%;
background-color: #0b9496;

}

footer{
	height: 5%;
	width:100%;
	position: fixed;
	bottom:0%;
	right:0%;
	left:0%;
	background-color: #0b9496;
}
.header a,.header span{
	font-size:15px;
	color:white;
	cursor:pointer;
}
#googleMapButtonStyle{
	margin-left:20%;
	display:block;
	background-color:#0b9496;
	border-radius:30px;
	width:60%;
	cursor: pointer;
	height:80px;
	color: white;
	font-size:20px;
	padding-top:5%;
	direction:rtl;
}
#restuarantInfoContainer{
	display:block;
	background-color:#DCDCDC;
	border-radius:30px;
	width:60%;
	cursor: pointer;
	height:auto;
	padding:1%;
}
#suggestRestuarantButton{
	display:block;
	background-color: #0b9496;
	border-radius:30px;
	width:50%;
	cursor: pointer;
	height:80px;
	color: white;
	font-size:20px;
	padding-top:5%;
}
.bg-image{	
  background-image: url('../Images/background2.jpg');	
  filter: blur(8px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
.fluid-container{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  }
 #restaurantCarousel{
  border-radius:10%;
  overflow:hidden;
  display:block;
  width:60%;
  margin-left:20%;
  }